@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

.elevator-doors {
  z-index: 50;
}

.mine-section {
  height: 400vh !important;
  position: relative;
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.8; }
  25%, 75% { opacity: 0.9; }
}

.grid-cols-13 {
  grid-template-columns: repeat(13, minmax(0, 1fr));
}